* {
  margin: 0;
  padding: 0;
}

.learn {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #cce2eb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  width: 100%;
  background-color: #cce2eb;
  z-index: 1;
  position: fixed;
  border-bottom: 3px solid rgb(25, 27, 37);
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.navbar button {
  background: transparent;
  border: none;
  font-size: 22px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.port {
  width: 100%;
  height:100vh;
  background-color: #092733;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.port h1{
  
  color: chocolate;
}

.items > div{
  padding: 60px 20px;
  text-align: center;
  color: goldenrod;
  font-size: 22px;
  font-family: 900;
  border-radius: 10px;
  min-width:98%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  scroll-snap-align: start;
  /* background: url(/images/urus.jpg); */
  background-size: cover;
  border: 5px solid #cce2eb;
  
}



.items {
  display:flex;
  /* column-gap: 20px; */
  background-color: #092733;
  overflow-x: scroll;
    scroll-snap-type: x mandatory;
    height: 70%;
    width: 70%;
    /* border-radius: 10px; */
}






@media screen and (max-width: 1024px) {
  .homing {
    margin-top: 100px;
    height: max-content;
    padding: 0 10px;
  }
  .learn {
    height: max-content;
    padding-bottom: 20px;
  }
}
