* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Stick No Bills", sans-serif;
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home video {
  padding-bottom: 56.25%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
source {
  position: absolute;
}

.navbar1 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  z-index: 100;
}
.navbar1.change-background {
  background-color: #01321d;
  color: #fff;
}

.navbar1 a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: 600;
}

.logo {
  margin-right: 50px;
}

.list {
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler,
.navbar1 label {
  display: none;
}

.mine {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mine h1 {
  font-size: 55px;
  font-style: 600;
  text-align: center;
  color: #a8dff1;
}

.mine p {
  font-size: 16px;
  text-align: center;
  width: 70%;
  color: #f5f5f5;
  padding-top: 20px;
}

.mine span {
  color: #a8dff1;
  font-weight: 500;
  text-shadow: 2px 2px 2px #555;
}

.mine button {
  width: 200px;
  height: 50px;
  background-color: #01321d;
  margin-top: 20px;
  border-color: #01321d;
  border-radius: 5px;
  font-size: 26px;
  color: #f5f5f5;
  font-weight: 600;
}

.search {
  width: 100%;
  height: 100vh;
  background: url(/images/wagon.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: column;
}

.search h1 {
  font-size: 36px;
  text-align: center;
  color: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 5px 5px 2px grey;
}

.form {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 80%;
  border-radius: 0 5px 5px 0;
  padding: 0 20px;
  color: #01321d;
  margin-top: 20px;
  margin-left: 2%;
}

.form input,
select {
  width: 350px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px 0;
  border-radius: 5px;
  border: 3px solid #999;
}

.form label {
  color: #f5f5f5;
  font-weight: 500;
}

::placeholder {
  color: #01321d;
}
.form input[type="date"],
[type="time"] {
  color: #01321d;
  font-size: 12px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form button {
  margin-top: 10px;
  /* margin-left: 20px; */
  width: 400px;
  padding: 10px 0;
  background-color: #01321d;
  color: #f5f5f5;
  border-color: #01321d;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

/* .carousel-item {
  height: 60vh;
} */

.like {
  width: 100%;
  background-color: #01321d;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-bottom: 2px;
  position: relative;
}

.like h1 {
  color: #effef6;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  font-weight: 600;
  font-family: cursive;
}
.like p {
  color: #7df88d;
  font-weight: 500;
  text-transform: uppercase;
}
#here {
  color: #7df88d;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

.like h4 {
  color: #7df88d;
  padding-top: 10px;
}

.top {
  width: 100%;
  height: 40%;
  display: flex;
}

.top p {
  color: #f5f5f5;
  width: 80%;
  text-transform: lowercase;
}
.bottom {
  width: 100%;
  height: 40%;
  display: flex;
}
.bottom p {
  color: #f5f5f5;
  width: 80%;
  text-transform: lowercase;
}

.best,
.fees,
.quality,
.any,
.miles,
.city,
.customer {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 80%;
}

.footer {
  width: 100%;
  background-color: #01321d;
  display: flex;
  flex-direction: column;
  position: relative;
}

.all1 {
  display: flex;
  height: 60%;
  width: 100%;
  padding-top: 20px;
  padding-left: 20px;
  border-bottom: 1px dashed #999;
}

.about,
.link,
.us {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.about {
  color: #fff;
}

.about p {
  color: #7df88d;
}

.about i {
  padding-left: 10px;
  font-size: 24px;
}

.link {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
.link h3 {
  color: #fff;
}

.link a {
  text-decoration: none;
  color: #7df88d;
  width: max-content;
}
.us {
  display: flex;
  flex-direction: column;
  color: #7df88d;
}
.us a {
  text-decoration: none;
  color: #999;
}

.copyright {
  display: flex;
  color: #fff;
  padding-top: 20px;
}

.copyright p {
  font-size: 16px;
}
.accept {
  margin-left: 50%;
}

.accept i {
  font-size: 50px;
  padding-left: 10px;
}

@media (max-width: 1156px) {
  .home {
    width: 100%;
  }

  .mine h1 {
    font-size: 35px;
  }

  .search {
    width: 100%;
  }
  .form {
    width: 80%;
  }
}

@media (max-width: 1023px) {
  .logo {
    left: 10px;
  }
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #7a7a7a;
    border: 1px solid #565656;
  }

  .navbar1 label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #73b0cd;
  }

  #toggler:checked ~ .menu {
    max-height: max-content;
  }

  .mine p {
    display: none;
  }

  .search {
    width: 100%;
    height: 100vh;
  }
  .form {
    width: 98%;
    padding-left: 10px;
  }
  .form button {
    width: 80%;
  }

  .like {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    padding-left: 5px;
  }

  .like h4 {
    font-size: 16px;
    text-align: center;
    color: #73b0cd;
  }
  #here {
    text-align: center;
  }

  .top {
    flex-wrap: wrap;
  }

  .bottom {
    flex-wrap: wrap;
  }
  .like h1 {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .top p {
    display: none;
  }
  .bottom p {
    display: none;
  }

  .best,
  .fees,
  .quality,
  .any,
  .miles,
  .city,
  .customer {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 5%;
    margin-bottom: 1%;
  }

  .all1 {
    flex-direction: column;
    height: 80%;
  }
  .about,
  .link,
  .us {
    width: 90%;
    margin-left: 10px;
    margin-top: 5px;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .accept {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
